@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}

body{
	margin:0;
	background-color: #F1F1F1;
}



/*コンテンツ全体を2カラムに */

.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.nav_Container{
	float: left;
}

main{
	float: left;
	margin-left: 160px;
	padding: 0 20px;
	width: calc(100% - 160px);
	background-color: #f1f1f1;
	display: inline-block;
	overflow: hidden;
}


/* サイドナビゲーション*/

nav{
	position: fixed;
	top: 0;
	bottom: -120px;
	width: 160px;
	background-color: #23282d;
	z-index: 1;
}

nav h1 a{
	display: inline-block;
	transition: all 0.3s ease 0s;

	padding: 30px 0 40px 16px;
	font-size: 18px;
	color: #00BEC8;
	text-align: center;
	opacity: 0.9;
}

nav h1 a:link{
	color: #FFFFFF;
	text-decoration: none;
}

nav h1 a:hover{
	color: #00BEC8;
	text-decoration: none;
	opacity: 0.7;
}

nav ul{
	list-style: none;
	transition: all 0.3s ease 0s;
	
	padding-left: 16px;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
	opacity: 0.9;
}

nav ul a:link{
	color: #FFFFFF;
	text-decoration: none;
}

nav ul a:hover{
	color: #DCDCDC;
	text-decoration: none;
}

nav li{
	padding-bottom: 20px;
}

nav hr{
	height: 1px;
	width: 90%;
	background-color: #FFFFFF;
	border: none;
	text-align: center;
	display: inline-block;
}





.close{
    display: none;
}

.NavMenuFloat{
	float: right;
	display: none;
}

.btn001{
	position: fixed;
	top: 0;
	right: 0;
    width: 60px;
	height: 60px;
	padding: 16px 20px 20px 20px;
	font-size: 20px;
	color: #00BEC8;
    background-color: #23282d;
}

.btn002{
	position: fixed;
	top: 0;
	right: 0;
    width: 60px;
	height: 60px;
	padding: 18px 18px 20px 22px;
	font-size: 18px;
	color: #00BEC8;
    background-color: #23282d;
	z-index: 100;
}


.content{
	position: fixed;
	top: 0;
	right: 0;
	padding-top: 54px;
	padding-left: 0;
    width: 50%;
	height: auto;
	font-size: 14px;
	background-color: #23282d;
	z-index: 99;
}

.content a{
	color: #FFF;
	text-decoration: none;
}

.content ul{
	line-height: 2.8em;
	padding-bottom: 24px;
	padding-left: 20px;
	list-style: none;
}

.content li{
	border-bottom: 0.1px solid #FFF;
}






/*メインコンテンツ幅を設定*/

.clearfix999:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main_float{
	margin: 0;
	width: 100%;
	max-width: 1840px;
	overflow: hidden; 
}


.main_float:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main_left{
	float: left;
	width: calc(100% - 380px);
	min-width: 540px;
}

.main_right{
	float: right;
	width: 360px;
	margin-left: -380px; 
}





/*メインコンテンツ*/

main h1{
	margin: 50px 0 20px 0;
	font-size: 18px;
	color: #232323;
	opacity: 0.9;
}


.ContentTitleField{
	display: inline-flex;
 	flex-direction: column;
	background-color: #FFFFFF;
	width: 100%;
	height: 100px;
	border: 1px solid #ddd;
}

label[for="ContentTitle"]{
	padding: 8px 0 4px 8px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #f1f1f1;
}

#ContentTitle{
	font-size: 14px;
	padding: 3px 6px;
	margin: 10px 8px 10px 8px;
	height: 40px;
	border: 1px solid #f1f1f1;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.ContentSummary_all{
    background-color: #FFFFFF;
	padding: 0 8px 10px 8px;
	margin-top: 10px;
    width: 100%;
	float: left;
	border: 1px solid #ddd;
}

.ContentSummaryTitle_field{
	background-color: #FFFFFF;
	width: 18%;
	margin-right: 2%;
	min-width: 164px;
	float: left;
	overflow: hidden;
}


label[for="ContentSummaryTitle"]{
	display: flex;
 	flex-direction: column;
	padding: 8px 0 4px 0px;
	font-size: 14px;
	font-weight: bold;
	
	border-bottom: 1px solid #f1f1f1;
}

#ContentSummaryTitle{
	font-size: 14px;
	padding: 3px 6px;
	margin-top: 10px;
	width: 100%;
	height: 22px;
	border: 1px solid #f1f1f1;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.ContentSummary_field{
	background-color: #FFFFFF;
	width: 80%;
	height: auto;
	float: left;
}

label[for="ContentSummary"]{
	display: flex;
 	flex-direction: column;
	padding: 8px 0 4px 0;
	min-width: 100px;
	font-size: 14px;
	font-weight: bold;
	
	border-bottom: 1px solid #f1f1f1;
}

#ContentSummary{
	font-size: 14px;
	padding: 3px 6px;
	margin-top: 10px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;
	height: 100px;
	border: 1px solid #f1f1f1;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}





.ContentTextField{
	display: inline-flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 100%;
    height: auto;
	border: 1px solid #ddd;
}

label[for="ContentText"]{
    background-color: #FFFFFF;
	padding: 8px 0 4px 8px;
	font-size: 14px;
    font-weight: bold;
	
	border-bottom: 1px solid #f1f1f1;
}

#ContentText{
	font-size: 14px;
    padding: 3px 6px;
    margin: 10px 8px 10px 8px;
	width: calc(100% - 16px);
	max-width: calc(100% - 16px);
	min-height: 22px;
    height: 580px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}


.ContentExternalField{
	display: inline-flex;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 100%;
    height: auto;
	border: 1px solid #ddd;
}

label[for="ContentExternal"]{
	background-color: #FFFFFF;
	padding: 8px 0 4px 8px;
	font-size: 14px;
    font-weight: bold;
	
	border-bottom: 1px solid #f1f1f1;
}

#ContentExternal{
	font-size: 14px;
    padding: 3px 6px;
    margin: 10px 8px 10px 8px;
	width: calc(100% - 16px);
	max-width: calc(100% - 16px);
	min-height: 22px;
    height: 580px;
    border: 1px solid #f1f1f1;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}





/*サイドコンテンツ*/

.sortable{
	min-width: 360px;
}

select option{
	background-color: #FFF;	
}


/*公開*/

.submitdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	border-bottom: 1px solid #f1f1f1;
}

.submitdiv p{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	cursor: pointer;
	position: relative;
}

.openclose dt{
	float: right;
	padding: 8px 8px 4px 0;
	color: #D3D3D3;
 	border-radius: 50%;
	vertical-align: middle;
}

.openclose dl{
	margin:0 auto;
}

.openclose dd{
	margin: 0 0 10px 0;
	padding: 8px 8px 12px 8px;
	width: 100%;
	height: auto;
	background-color: #FFF;
	float: left;
}

.OpenBtnFloatLeft{
	float: left;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	background-color: #fafafa;
  	color: #232323;
  	border-bottom: solid 2px #BCBCBC;
  	border-radius: 2px;
}

.OpenBtnFloatLeft:hover {
  	-webkit-transform: translateY(0px);
  	transform: translateY(0px);
	border: solid 2px #ADADAD;
}

.OpenBtnFloatRight{
	float: right;
	margin: 0 0 4px 0;
  	padding: 0.5em 1em;
  	text-decoration: none;
  	background-color: #fafafa;
  	color: #232323;
  	border-bottom: solid 2px #BCBCBC;
  	border-radius: 2px;
}

.OpenBtnFloatRight:hover {
	-webkit-transform: translateY(0px);
    transform: translateY(0px);
	border: solid 2px #ADADAD;
}

.submitdiv .open_tit.active::after {
    content: "▼";
}
.submitdiv .open_tit::after {
    content: "▲";
}

.OpenBtnFloat{
    font-size: 14px;
    font-weight: bold;
	padding: 2px 0 4px 0;
	margin: 0;
	cursor: pointer;
}




/*投稿日時*/

.ContentPublisheddiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentPublisheddiv label[for="ContentPublished"]{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	cursor: pointer;
	position: relative;	
}

.ContentPublisheddiv dd{
	font-size: 14px;
	font-weight: bold;
}

.ContentPublisheddiv .open_tit.active::after {
    content: "▲";
}

.ContentPublisheddiv .open_tit::after {
    content: "▼";
}





/*各種カテゴリー*/

.ContentCategorydiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}


.ContentCategorydiv label[for="ContentCategory"]{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.ContentCategorydiv dd{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}

.ContentWriterId{
	vertical-align: middle;
	padding-bottom: 8px;
}

#ContentWriterId{
	width: 220px;
	float: right;
}

.ContentFeatureId{
	vertical-align: middle;
	padding-bottom: 8px;
}

#ContentFeatureId{
	width: 220px;
	float: right;	
}

.ContentSeriesId{
	position:relative;
	vertical-align: middle;
	padding-bottom: 8px;
}

#ContentSeriesId{
	width: 220px;
	float: right;
}

.ContentCategoryNum{
	vertical-align: middle;
	padding-bottom: 8px;
}

#ContentCategoryNum{
	width: 220px;
	float: right;
}

.ContentTypeNum{
	vertical-align: middle;
	padding-bottom: 8px;
}

#ContentTypeNum{
	width: 220px;
	float: right;	
}

.ContentContentType{
	vertical-align: middle;
	padding-bottom: 4px;
}

#ContentContentType{
	width: 220px;
	float: right;
}

.ContentCategorydiv .open_tit.active::after {
    content: "▲";
}

.ContentCategorydiv .open_tit::after {
    content: "▼";
}




/*コンテンツ配信先*/

.ContentContentsdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentContentsdiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.open-btn ul{
	list-style: none;
	margin:0 auto;
	padding:0;
}

.open-btn li{
	font-size: 12px;
	font-weight: bold;
	padding-bottom: 4px;
}

.open-btn input {
	vertical-align : middle;
}

.ContentContentsdiv .open_tit.active::after {
    content: "▲";
}

.ContentContentsdiv .open_tit::after {
    content: "▼";
}




/*アイキャッチ画像*/

.ContentImgdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentImgdiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.thumbnail img{
    width: 100%;
    height: auto;
}

.open-btn label[for="ContentImg"]{
	font-size: 14px;
	font-weight: bold;
}

.ContentImgURL{
	margin-top: 4px;
	vertical-align: middle;
}

.ContentImgURL input{
	width: 80%;
	float: right;
}

.ContentImgdivText001{
	font-size: 14px;
	padding: 0;
	margin: 4px 0 12px 0;
	line-height: 1em
}

.ContentDescriptiondiv label[for="ContentDescription"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
}

.ContentDescriptiondiv input{
	width: 100%;
	margin-bottom: 8px;
}

.ContentEmbedEyecatchdiv label[for="ContentEmbedEyecatch"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

#ContentEmbedEyecatch{
	width: 100%;
	max-width: 100%;
	min-height: 22px;
	height: 200px
}

.ContentImgdivText002{
	font-size: 14px;
	padding: 0;
	margin: 4px 0 0 0;
	line-height: 1em	
}

.ContentImgdiv .open_tit.active::after {
    content: "▲";
}

.ContentImgdiv .open_tit::after {
    content: "▼";
}




/*差し替え画像URL*/

.ContentsImageUrldiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentsImageUrldiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.ContentsImageUrldiv dd{
	width: 100%;
	margin-bottom: 4px;
}

.ContentsImageUrldiv label[for="ContentsImageUrl"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentsImageUrldiv input{
	width: 100%;
	margin-bottom: 4px;
}

.ContentsImageSizediv{
	font-size: 14px;
	font-weight: bold;
	margin-top: 6px;	
}

select#ContentsImageSize{
	float: right;
	width: 100%;
}

.ContentsImageUrldiv .open_tit.active::after {
    content: "▲";
}

.ContentsImageUrldiv .open_tit::after {
    content: "▼";
}




/*キーフレーズ取得*/

.ContentCommaSeparatedKeyphrasediv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentCommaSeparatedKeyphrasediv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;	
}

#ContentCommaSeparatedKeyphrase{
	height: 100px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;
}

.ContentCommaSeparatedKeyphrasediv p{
	float: left;
	font-size: 14px;
	padding: 0;
	margin: 8px 0 4px 0;
	line-height: 1em
}

.ContentCommaSeparatedKeyphrasediv input{
	vertical-align : middle;
	margin-bottom: 4px;
}

.ContentCommaSeparatedKeyphrasediv .open_tit.active::after {
    content: "▲";
}

.ContentCommaSeparatedKeyphrasediv .open_tit::after {
    content: "▼";
}




/*イベント情報*/

.ContentRelEventHeaderdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentRelEventHeaderdiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.ContentRelEventHeaderdiv label[for="ContentRelEventHeader"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;	
}

.ContentRelEventHeaderdiv input{
	width: 100%;
	margin-bottom: 8px;
}

.ContentRelEventHeaderdiv label[for="ContentRelEventName"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelEventHeaderdiv label[for="ContentRelEventInformation"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

#ContentRelEventInformation{
	height: 100px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;
}

.ContentRelEventHeaderdiv p{
	float: left;
	font-size: 14px;
	padding: 0;
	margin: 2px 0 16px 0;
	line-height: 1em
}

.ContentRelEventHeaderdiv label[for="ContentRelEventText"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

#ContentRelEventText{
	height: 100px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;	
}

.ContentRelEventHeaderdiv label[for="ContentRelEventStart"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelEventHeaderdiv label[for="ContentRelEventEnd"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelEventHeaderdiv label[for="ContentRelEventArea"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelEventHeaderdiv .open_tit.active::after {
    content: "▲";
}

.ContentRelEventHeaderdiv .open_tit::after {
    content: "▼";
}




/*関連リンク*/

.ContentRelLinkListdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.ContentRelLinkListdiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;	
}

#ContentRelLinkList{
	height: 100px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;
}

.ContentRelLinkListdiv p{
	float: left;
	font-size: 14px;
	padding: 0;
	margin: 0 0 4px 0;
	line-height: 1em
}

.ContentRelLinkListdiv .open_tit.active::after {
    content: "▲";
}

.ContentRelLinkListdiv .open_tit::after {
    content: "▼";
}





/*人物紹介*/

.ContentRelInfoNamediv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;	
}

.ContentRelInfoNamediv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;		
}

.ContentRelInfoNamediv label[for="ContentRelInfoName"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelInfoNamediv input{
	width: 100%;
	margin-bottom: 4px;
}

#ContentRelInfoImage{
	border: 1px solid #B0B0B0;
}

.ContentRelInfoNamediv label[for="ContentRelInfoSecondName"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelInfoNamediv label[for="ContentRelInfoPosition"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

.ContentRelInfoNamediv label[for="ContentRelInfoImage"]{
	font-size: 14px;
	font-weight: bold;
	padding-top: 4px;
}

#ContentRelInfoInfoText{
	margin-top: 4px;
	height: 100px;
	width: 100%;
	max-width: 100%;
	min-height: 22px;	
}

.ContentRelInfoNamediv .open_tit.active::after {
    content: "▲";
}

.ContentRelInfoNamediv .open_tit::after {
    content: "▼";
}




/*各種フラッグ*/

.EtcFlagdiv{
	margin-bottom: 10px;
	width: 360px;
	min-width: 320px;
	height: 36px;
	background: #FFF;
	clear: left;
	border-bottom: 1px solid #f1f1f1;
}

.EtcFlagdiv h3{
	float: left;
    font-size: 14px;
    font-weight: bold;
	padding: 8px 0 4px 8px;
	margin: 0;
	width: 40%;
	cursor: pointer;
	position: relative;
}

.EtcFlagdiv .open_tit.active::after {
    content: "▲";
}

.EtcFlagdiv .open_tit::after {
    content: "▼";
}



























