@charset "utf-8";
/* CSS Document */

@media(max-width: 1528px){

.ContentSummary_field{
	background-color: #FFFFFF;
	width: 100%;
	height: auto;
	float: left;
	}

.ContentSummaryTitle_field{
	width: 100%;
	}
	
}


@media(max-width: 1280px ){

.main_left{
	float: left;
	width: calc(100% - 380px);
	min-width: 400px;
	}	
	
.main_float{
	margin: 0;
	width: 100%;
	overflow: hidden;
	}
	
}


@media(max-width: 1000px ){
	
.main_left{
	width: 100%;
	min-width: 280px;
	}
	
.main_right{
	width: 100%;
	min-width: 280px;
	margin-top: 10px;
	}

	
.submitdiv{
	width: 100%;
	}
	
.ContentPublisheddiv{
	width: 100%;
	}
	
.ContentCategorydiv{
	width: 100%;
	}
	
#ContentWriterId{
	width: 60%;
	float: right;
}

#ContentFeatureId{
	width: 60%;
	float: right;	
}

#ContentSeriesId{
	width: 60%;
	float: right;
}

#ContentCategoryNum{
	width: 60%;
	float: right;
}

#ContentTypeNum{
	width: 60%;
	float: right;	
}

#ContentContentType{
	width: 60%;
	float: right;
}

	
.ContentContentsdiv{
	width: 100%;
	}
	
.ContentContentsdiv .open-btn li{
	list-style: none;
	margin:0 auto;
	padding:0;
	float: left;
}
	
.ContentContentsdiv .open-btn li label{
	padding-right: 20px;
	width: calc(100% / 6);
}		

.ContentContentsdiv .open-btn li input{
	margin: 0;
	}
	

.ContentImgdiv{
	width: 100%;
	}
	
.ContentsImageUrldiv label[for="ContentsImageUrl"]{
	float: left;
}	
	
.ContentImgURL input{
	width: 100%;
	float: none;
}
	
.ContentImgdivText001{
	margin-top: 8px;
}	
	
	
.ContentsImageUrldiv{
	width: 100%;
	}		

	
.ContentCommaSeparatedKeyphrasediv{
	width: 100%;
	}

.ContentCommaSeparatedKeyphrasediv input{
	float: right;
	}
	
	
.ContentRelEventHeaderdiv{
	width: 100%;
	}
	
.ContentRelEventHeaderdiv .open-btn label{
	float: left;
	}
	
.ContentRelEventHeaderdiv p{
	float: none;	
}
	
	
.ContentRelLinkListdiv{
	width: 100%;
	}		

	
.ContentRelInfoNamediv{
	width: 100%;
	}		
	
	
.EtcFlagdiv{
	width: 100%;
	}		
	
.EtcFlagdiv .open-btn li{
	list-style: none;
	margin:0 auto;
	padding:0;
	float: left;
}
	
.EtcFlagdiv .open-btn li label{
	padding-right: 20px;
	width: calc(100% / 5);
}		

.EtcFlagdiv .open-btn li input{
	margin: 0;
	}
	
}




/*スマートフォン(縦)*/

@media(max-width: 600px){

nav{
	display: none;
	}
	
	
main{
	clear: left;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
}

main h1{
	margin: 40px 0 10px 0;	
	}	
	
.main_right{
	clear: left;
	}

#ContentText{
	height: 240px;
	}
	
#ContentExternal{
	height: 240px;
	}
	
.ContentContentsdiv .open-btn li label{
	padding-right: 14px;
	width: 33%;
}		

.ContentCommaSeparatedKeyphrasediv .open-btn p{
	font-size: 12px
	}
	
	
.NavMenuFloat{
	display: block;
}	
	
}




